*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	margin: 0;
	padding: 40px auto; 
	background-color: beige;
}

 a {
	text-decoration: none;
	color: darkblue;
	cursor: pointer;	
}

h1 {
	text-align: center;
}

.wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.wrap > div {
	flex: 1 1 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px 0;
	margin: 10px 0;
	text-align: center;
}

.container > a > img {
	display: block;
	width: 500px;
	height: auto;
	margin: 0 auto 10px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}


ul li {
	list-style-type: none;
	line-height: 1.6;
}

.title {
	font-size: 20px;
	font-weight: 500;
}

.switch {
	display: flex;
	justify-content: space-around;
	margin: 20px
}

.disablePrevious,
.disableNext {
	pointer-events: none;
	cursor: default;
}

